doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://openlayers.org/en/v4.6.3/css/ol.css", type="text/css")
  body
    block content
  div
    script(src="https://openlayers.org/en/v4.6.3/build/ol.js")
    script(src="/javascripts/application.js")
