{% extends "layout.html" %}

{% block page_title %}
	DfT Street Manager prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        DfT Street Manager prototype
      </h1>

      <p>
        Iterations of designs by phase and sprint
      </p>

      <h2 class="heading-medium">Alpha</h2>

			<h3 class="heading-medium">Sprint 1</h3>

      	<ul class="list list-bullet">
				<li><a href="/alpha/v1-0/start-page">V1.0</a></li>
				<li><a href="/alpha/v1-0/promoter-planner-home">Planner homepage</a></li>
				<li><a href="/alpha/v1-0/ha-officer-home">HA homepage</a></li>
				<li><a href="/alpha/v1-0/dashboard">Dashboard</a></li>
		</ul>

		<h3 class="heading-medium">Sprint 2</h3>
		<ul class="list list-bullet">
			<li><a href="/alpha/v2-0/start-page">V2.0 - Planner/Promoter User Journey</a></li> Credentials - Email: promo@sm.com Password: Supply any
			<li><a href="/alpha/v2-0/start-page">V2.0 - Highway Authority User Journey</a></li> Credentials - Email: ha@sm.com Password: Supply any
			<li><a href="/alpha/v2-0/create-new-work">Create New Work</a></li>
			<li><a href="/alpha/v2-0/work-record">Existing Work Record</a></li>
			<li><a href="/alpha/v2-0/map-search">Map Search</a></li>
			<li><a href="/alpha/v2-0/map-view-works-planner">Map View Works - Planner/Promoter View</a></li>
			<li><a href="/alpha/v2-0/map-view-works-ha">Map View Works - HA Officer View</a></li>
			<li><a href="/alpha/v2-0/promoter-planner-home">Planner homepage</a></li>
			<li><a href="/alpha/v2-0/ha-officer-home">HA homepage</a></li>
		</ul>

		<h3 class="heading-medium">Sprint 3</h3>
		<ul class="list list-bullet">
			<li><a href="/alpha/v3-0/start-page">V3.0 - Planner/Promoter User Journey</a></li> Credentials - Email: promo@sm.com Password: Supply any
			<li><a href="/alpha/v3-0/start-page">V3.0 - Highway Authority User Journey</a></li> Credentials - Email: ha@sm.com Password: Supply any
		</ul>

		<div class="heading-medium">Sprint 4</div>
		<ul class="list list-bullet">
			<li><a href="/alpha/v4-0/start-page">V4.0 - Journey start</a></li>
			 Promoter - <b class="bold-small">Email:</b>  promo@sm.com, <b class="bold-small">Password:</b>  Supply any <br><b class="bold-small">Searchable WRN - </b>CT0224443466
			<p>
			HA officer - <b class="bold-small">Email:</b> ha@sm.com <b class="bold-small">Password:</b> Supply any <br><b class="bold-small">Searchable WRN - </b>CT0938475839
		</ul>

		<h2 class="heading-medium">Reporting</h2>

      <ul class="list list-bullet">
				<li><a href="/reporting/slides">Slides</a></li>
				<li><a href="https://docs.google.com/presentation/d/1evgEafi8L3pSLDkpZs2bPUDQgJWRaix1QfI_J8kk8O4/edit?usp=sharing">Presentation (Google Drive)</a></li>
			</ul>

		<h2 class="heading-medium">Map</h2>

      <ul class="list list-bullet">
				<li><a href="/map/v1-0/map">V1.0</a></li>
			</ul>

			<h2 class="heading-medium">Examples and documentation</h2>

			<ul class="list list-bullet">
				<li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
				<li><a href="https://github.com/alphagov/govuk_prototype_kit">GitHub</a></li>
			</ul>

      <h2 class="heading-medium">Other resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}


